<a href="https://colab.research.google.com/github/AanchalDogra/CNN/blob/main/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
list1 = [1,2,3,4]
list2 = [1,2,3,4]

In [3]:
for i in list1:
  for j in list2:
    if i == j:
      print(i*j)

1
4
9
16

In [4]:
import pandas as pd

# Sample DataFrames
df_values_and_results = pd.DataFrame({
    'Value1': [1, 2, 3, 4],
    'Value2': [5, 6, 7, 8],
    'Value3': [9, 10, 11, 12],
    'Value4': [13, 14, 15, 16],
    'Result': ['A', 'B', 'C', 'D']
})

df_values_to_match = pd.DataFrame({
    'Value1': [1, 3],
    'Value2': [5, 7],
    'Value3': [9, 11],
    'Value4': [13, 15]
})

# Merge the DataFrames on the values columns
merged_df = pd.merge(df_values_and_results, df_values_to_match, on=['Value1', 'Value2', 'Value3', 'Value4'])

# Display the result column for rows where all values match
result_column = merged_df['Result']
print(result_column)

0    A
1    C
Name: Result, dtype: object

In [ ]:
how to create a datafram